<a href="https://colab.research.google.com/github/gabrielpito92/algoritmosFatec/blob/main/Tarefa1_Projeto_Integrador_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Criar um script que imprima uma tabela de conversão de polegadas para centímetros.
Deseja-se que na tabela conste valores desde 1 polegada até 20 polegadas inteiras.

In [ ]:
# Eu sei que poderia ser mais simples, estou inventando para aprender outras coisas!!!
import pandas as pd

pol = list(range(1,11))
cm = [x * 2.54 for x in pol]
dados = {'Polegadas': pol, 'Centimetros': cm}
df = pd.DataFrame(dados)

df

   Polegadas  Centimetros
0          1         2.54
1          2         5.08
2          3         7.62
3          4        10.16
4          5        12.70
5          6        15.24
6          7        17.78
7          8        20.32
8          9        22.86
9         10        25.40

Criar um algoritmo que leia um número que servirá para controlar os números pares que serão impressos a partir de 2.

Exemplo:
Quantos: 4           Saída: 2 4 6 8

In [ ]:
# Eu sei que poderia ser mais simples, estou inventando para aprender outras coisas!!!
while True:
  qtd = input('\nQuantidade de números pares impressos (s = parar script): ')

  if (qtd == 's'):
    break
  else:
    try:
      int(qtd)
      for i in range(2, (int(qtd) + 1) * 2, 2):
          print(i, end = " / ")
    except ValueError:
      print('\nDigite um n° inteiro!!!')

Quantidade de números pares impressos (s = parar script): 6
2 / 4 / 6 / 8 / 10 / 12 /
Quantidade de números pares impressos (s = parar script): s

Criar um algoritmo que leia a quantidade de números que se deseja digitar para
que possa ser impresso o maior e o menor numero digitados Não suponha que
todos os números lidos serão positivos.

In [ ]:
# Eu sei que poderia ser mais simples, estou inventando para aprender outras coisas!!!
lista = []

def validaEntrada(qtd):
  try:
    qtd = int(qtd)
    return True
  except ValueError:
    return False

def addVal(qtd):
  qtd = int(qtd)
  cont = 1

  while qtd > 0:
    num = input(f'Digite o {cont}° número da lista: ')

    try:
      lista.append(int(num))
      qtd -= 1
      cont += 1
    except:
      print('\nDigite um n° inteiro!\n')

  return print(f'---\nValor mínimo: {min(lista)}\nValor máximo: {max(lista)}')

# Script ---
while True:
  qtd = input('Qtd. de números que deseja add. na lista (s = parar script): ')

  if(qtd == 's'):
    print('- FIM -')
    break
  elif(validaEntrada(qtd) == False):
    continue
  elif(validaEntrada(qtd) == True):
    addVal(qtd)
    break

Qtd. de números que deseja add. na lista (s = parar script): 4
Digite o 1° número da lista: 2
Digite o 2° número da lista: 3
Digite o 3° número da lista: 4
Digite o 4° número da lista: 1
---
Valor mínimo: 1
Valor máximo: 4

Entrar com nome, nota da PR1 e nota da PR2 de 15 alunos. Imprimir uma listagem,
contendo: nome, nota da PR1, nota da PR2 e média arredondada de cada
aluno Ao final calcule a media geral da turma.

In [ ]:
# Eu sei que poderia ser mais simples, estou inventando para aprender outras coisas!!!
import pandas as pd

cont = 1
qtd_alunos = 15
lsNome, lsPR1, lsPR2, lsMedia = [], [], [], []
dfSala = pd.DataFrame(columns=['Nome', 'PR1', 'PR2', 'Media']);

def montarRegistros(dfSala, lsNome, lsPR1, lsPR2, lsMedia):
  newRows = [pd.DataFrame({
    'Nome': lsNome,
    'PR1': lsPR1,
    'PR2': lsPR2,
    'Media': lsMedia
  })]

  return newRows

for cont in range(1, qtd_alunos+1):
  lsNome.append(input(f'Digite o nome da(o) {cont}° aluna(o): ').capitalize())
  lsPR1.append(float(input('Digite o valor da prova 1: ')))
  lsPR2.append(float(input('Digite o valor da prova 2: ')))
  lsMedia.append(round((lsPR1[-1] + lsPR2[-1]) / 2, 0))
  print('---------------------------------')
  cont += 1

registros = montarRegistros(dfSala, lsNome, lsPR1, lsPR2, lsMedia)
dfSala = pd.concat([dfSala] + registros, ignore_index = True)
media_geral = dfSala['Media'].mean()

print(f'\n A média geral da sala foi: {round(media_geral, 2)}')

Digite o nome da(o) 1° aluna(o): Pedro Gabriel
Digite o valor da prova 1: 10
Digite o valor da prova 2: 10
---------------------------------
Digite o nome da(o) 2° aluna(o): Jean Alex
Digite o valor da prova 1: 9
Digite o valor da prova 2: 9
---------------------------------
Digite o nome da(o) 3° aluna(o): Luis Enrique
Digite o valor da prova 1: 8
Digite o valor da prova 2: 9
---------------------------------
Digite o nome da(o) 4° aluna(o): Vinicius Telatin
Digite o valor da prova 1: 9
Digite o valor da prova 2: 8
---------------------------------
Digite o nome da(o) 5° aluna(o): Layla Kamila
Digite o valor da prova 1: 7
Digite o valor da prova 2: 7
---------------------------------
Digite o nome da(o) 6° aluna(o): Ludmila
Digite o valor da prova 1: 7
Digite o valor da prova 2: 8
---------------------------------
Digite o nome da(o) 7° aluna(o): Yuri Pontes
Digite o valor da prova 1: 8
Digite o valor da prova 2: 8
---------------------------------
Digite o nome da(o) 8° aluna(o): Laura
Digite o valor da prova 1: 9
Digite o valor da prova 2: 8
---------------------------------
Digite o nome da(o) 9° aluna(o): Ana Julia
Digite o valor da prova 1: 9
Digite o valor da prova 2: 8
---------------------------------
Digite o nome da(o) 10° aluna(o): Thomas j
Digite o valor da prova 1: 7
Digite o valor da prova 2: 7
---------------------------------
Digite o nome da(o) 11° aluna(o): Gustavo
Digite o valor da prova 1: 7
Digite o valor da prova 2: 6
---------------------------------
Digite o nome da(o) 12° aluna(o): Henrique
Digite o valor da prova 1: 7
Digite o valor da prova 2: 9
---------------------------------
Digite o nome da(o) 13° aluna(o): Marcela Silva
Digite o valor da prova 1: 9
Digite o valor da prova 2: 5
---------------------------------
Digite o nome da(o) 14° aluna(o): Carlos Eduardo
Digite o valor da prova 1: 7
Digite o valor da prova 2: 6
---------------------------------
Digite o nome da(o) 15° aluna(o): Fatima Pito
Digite o valor da prova 1: 9
Digite o valor da prova 2: 5
---------------------------------

 A média geral da sala foi: 7.67

In [ ]:
dfSala.head(qtd_alunos)

                Nome   PR1   PR2  Media
0      Pedro gabriel  10.0  10.0   10.0
1          Jean alex   9.0   9.0    9.0
2       Luis enrique   8.0   9.0    8.0
3   Vinicius telatin   9.0   8.0    8.0
4       Layla kamila   7.0   7.0    7.0
5            Ludmila   7.0   8.0    8.0
6        Yuri pontes   8.0   8.0    8.0
7              Laura   9.0   8.0    8.0
8          Ana julia   9.0   8.0    8.0
9           Thomas j   7.0   7.0    7.0
10           Gustavo   7.0   6.0    6.0
11          Henrique   7.0   9.0    8.0
12     Marcela silva   9.0   5.0    7.0
13    Carlos eduardo   7.0   6.0    6.0
14       Fatima pito   9.0   5.0    7.0